<h2>Employee Bank Details</h2>

<!-- Display existing employee bank details -->
<ul>
  <li *ngFor="let employeeBankDetails of employeeBankDetailsList">
    Employee Bank Details ID: {{ employeeBankDetails.employeeBankDetailsId }} | Account No: {{ employeeBankDetails.accountNo }} | Salary Account: {{ employeeBankDetails.salaryAccount ? 'Yes' : 'No' }} | Effective Date: {{ employeeBankDetails.effDate }}
    <ul>
      <li>Bank Branch ID: {{ employeeBankDetails.bankBranchDetails.bankBranchId }} | Country: {{ employeeBankDetails.bankBranchDetails.country }} | City: {{ employeeBankDetails.bankBranchDetails.city }}</li>
    </ul>
  </li>
</ul>

<!-- Form to add a new employee bank details -->
<form [formGroup]="newEmployeeBankDetailsForm" (ngSubmit)="createEmployeeBankDetails()">
  <label for="accountNo">Account No:</label>
  <input type="text" id="accountNo" formControlName="accountNo">
  <div *ngIf="newEmployeeBankDetailsForm.controls['accountNo'].invalid && newEmployeeBankDetailsForm.controls['accountNo'].touched">
    <div *ngIf="newEmployeeBankDetailsForm.controls['accountNo']">Account No is required.</div>
  </div>

  <label for="salaryAccount">Salary Account:</label>
  <input type="checkbox" id="salaryAccount" formControlName="salaryAccount">
  <div *ngIf="newEmployeeBankDetailsForm.controls['salaryAccount'].invalid && newEmployeeBankDetailsForm.controls['salaryAccount'].touched">
    <div *ngIf="newEmployeeBankDetailsForm.controls['salaryAccount']">Salary Account is required.</div>
  </div>

  <label for="effDate">Effective Date:</label>
  <input type="date" id="effDate" formControlName="effDate">
  <div *ngIf="newEmployeeBankDetailsForm.controls['effDate'].invalid && newEmployeeBankDetailsForm.controls['effDate'].touched">
    <div *ngIf="newEmployeeBankDetailsForm.controls['effDate']">Effective Date is required.</div>
  </div>

  <label for="bankBranchDetails">Bank Branch:</label>
  <select id="bankBranchDetails" formControlName="bankBranchDetails">
    <option *ngFor="let branch of bankBranchList" [value]="branch">{{ branch.bankBranchId }} - {{ branch.country }} - {{ branch.city }}</option>
  </select>
  <div *ngIf="newEmployeeBankDetailsForm.controls['bankBranchDetails'].invalid && newEmployeeBankDetailsForm.controls['bankBranchDetails'].touched">
    <div *ngIf="newEmployeeBankDetailsForm.controls['bankBranchDetails']">Bank Branch is required.</div>
  </div>

  <button type="submit" [disabled]="newEmployeeBankDetailsForm.invalid">Add Employee Bank Details</button>
</form>
