
<nav>
    <ul>
        <li>
            <a routerLink="users" routerLinkActive="active"> Get all Users</a>
        </li>
        <li>
            <a routerLink="createUser" routerLinkActive="active"> Add a user</a>
        </li>
    </ul>
</nav>
<!-- <app-users-list></app-users-list> -->
<div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/barchart">Bar Chart</a>
      </li>
      </ul>
    </div>
<router-outlet></router-outlet>
